.head
  display flex
  height 5%
  width 95%
  text-align right
  border 1px solid gray
  border-radius 5px
  padding 5px 0
  padding-left 10px
  padding-right 1px
  margin 0 auto

.logo
  margin-top 5px
  margin-right auto

.logo img
  height 20px
  width 30px
.headmenu
  display flex

.headmenu a
  padding 5px
  text-decoration none
  border-radius 4px
  color rgb(31, 188, 241)

.headmenu .active
  background-color #4dabf5
  color white

.gallery
  width 100%
  display flex
  margin 5px auto
  justify-content center
  gap 5px

.tile
  height 180px
  width 19%

.tile:nth-child(odd)
  margin-top 15px

.tile img
  width 100%
  height 100%
  

.square--gallery
  display flex
  flex-direction column
  margin 10px auto 0
  text-align center
  gap 15px
  @media(max-width 768px)
    flex-direction row

.fram
  text-align center
  margin 0 15px

.square
  width 70px
  height 70px
  border 2px solid gray
  object-fit cover

.content
  margin-top 20px
  display flex
  flex-direction row
  @media(max-width 768px)
    flex-direction column

.articles
  display flex
  flex-direction column
  width 80%
  margin 0 auto

.article
  border 2px solid black
  margin-bottom 20px
  padding 5px

.article .title
  margin 0 auto
  width 22%

.article-content
  display flex
  gap 15px
  

.article-content img
  min-width 30%
  height 100%

.text
  height 100%
  display flex
  gap 5px
  //text-align right
.text a
  align-self end
  
.text p
  display flex
  flex-direction column  

    
.content p
  margin 0 0 4px 0

.article a
  text-decoration none
  padding 2px
  color white
  border 1px solid black
  background-color #4dabf5
  border-radius 5px
  font-size 14px
  

.content a:hover
  text-decoration underline
