back(size)
  
  box-shadow 4px 5px 10px rgba(0, 0, 0, 0.4)
  padding: size + "%"
  margin 1% 1% 1% 1%


.head
  display flex
  height 5%
  width 95%
  text-align right
  border 1px solid gray
  border-radius 5px
  padding 5px 0
  padding-left 10px
  padding-right 1px
  margin 0 auto

.head__logo
  margin-top 5px
  margin-right auto

.head__logo img
  height 20px
  width 30px
  
.head__menu
  display flex

.head__menu a
  padding 5px
  text-decoration none
  border-radius 4px
  color rgb(31, 188, 241)
.head__menu a:hover
  back(1)
.head__menu .active
  background-color #4dabf5
  color white

.gallery
  width 100%
  display flex
  margin 5px auto
  justify-content center
  gap 5px
.gallery img:hover
  back(1)
.gallery__tile
  height 180px
  width 19%

.gallery__tile:nth-child(odd)
  margin-top 15px

.gallery__tile img
  width 100%
  height 100%
  

.square-gallery
  display flex
  flex-direction column
  margin 10px auto 0
  text-align center
  gap 15px
  @media(max-width 768px)
    flex-direction row
.square-gallery img:hover
  back(1)
.square-gallery__fram
  text-align center
  margin 0 15px

.square-gallery__square
  width 70px
  height 70px
  border 2px solid gray
  object-fit cover

.content
  margin-top 20px
  display flex
  flex-direction row
  @media(max-width 768px)
    flex-direction column

.articles
  display flex
  flex-direction column
  width 80%
  margin 0 auto

.articles__article
  border 2px solid black
  margin-bottom 20px
  padding 5px
.articles__article img:hover
  back(1)
.articles__article .article__title
  margin 0 auto
  width 22%

.article__content
  display flex
  gap 15px
  

.article__content img
  min-width 30%
  height 100%

.content__text
  height 100%
  display flex
  gap 5px
  //text-align right
.content__text a
  align-self end
  
.content__text p
  display flex
  flex-direction column  

    
.article__content p
  margin 0 0 4px 0

.articles__article a
  text-decoration none
  padding 2px
  color white
  border 1px solid black
  background-color #4dabf5
  border-radius 5px
  font-size 14px
  

.content a:hover
  text-decoration underline
