include ../components/mixin.pug
include ../components/data.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Вулканы и землетрясения
   

  body
    .head
      .logo 
        img(src=require('../images/logo.png'))
      .headmenu
        +createMenu(navMenu, "Главная")
        //- a.active(href="#") Главная
        //- a(href="#") Землетрясения
        //- a(href="#") Вулканы
        //- a(href="#") Карта


    .gallery
       +createGallery(horizontalGallery)

    .content
      
      .square--gallery
        +createVertical(verticalGallery, true)
          

      .articles
        +createArticle(articles[0],false)
          

      .square--gallery
        +createVertical(verticalGallery, false)

    hr
    p Васильев Леонид, группа 2
