block variables

    -   
        var navMenu = { 
            'Главная': 'index.html', 
            'Землетрясения': "#",  
            'Вулканы': "#", 
            'Карта': "#"
            }
            
        var horizontalGallery = [
            {img: 'avacha.jpg', name: 'avacha'},
            {img: 'kluchevskaya.jpg', name: 'kluchevskaya'},
            {img:'koryak.jpg', name: 'koryak'},
            {img: 'viluch.jpg', name: 'viluch'},
            {img: 'kluchevskaya.jpg', name: 'kluchevskaya'}
            ]
        var verticalGallery =[
            {img: 'avacha.jpg', text: 'Этот вулкан извергается чаще всех'},
            {img: 'kluchevskaya.jpg', text: 'Самый опасный вулкан на Камчатке'},
            {img:'koryak.jpg', text: 'Этот вулкан спит много лет'},
            {img: 'viluch.jpg', text: 'В честь этого вулкана назван город'},
        ]
        var articles = [
            {title: 'Авачинский вулкан', img:'avacha.jpg' , paragraphs:['Авачинский вулкан — один из самых известных и часто извергающихся на Камчатке. Его высота около 2740 метров. Он заметен почти из любой точки Петропавловска, за что местные жители называют его «домашним вулканом».', 'Авачинский вулкан — один из самых известных и часто извергающихся на Камчатке. Его высота около 2740 метров. Он заметен почти из любой точки Петропавловска, за что местные жители называют его «домашним вулканом».', ]},
            {title: 'Ключевская сопка', img:'kluchevskaya.jpg' , paragraphs:['Ключевская Сопка — самый высокий из действующих вулканов Евразии. Относительная высота 1750 м. Абсолютная высота вулкана в разных источниках колеблется от 4688 м до 4750 м. Расположен в 60 километрах западнее Камчатского залива. Рядом расположены посёлки Ключи и Козыревск.' ]}
            
        ]

     